html{
    background-color: lightgray;
    color: navy;
    font-family: cursive;
    text-align: center;
}
.intro{
    border: 5px navy dashed;
    padding: 10px;
}

.truths-and-lie{
    border: 5px navy dashed;
}
ul{
    display: inline-block;
}
br{
    padding: 10px;
}
.lie:hover{
    color: red;
    
}
.truth:hover{
    color: green;
    
}
#subtext{
    font-size: small;
}